In [2]:
A=(1)
print (A)

1

In [3]:
A=()
print (A)

()

In [4]:
B=(2,)
print (B)

(2,)

('A', 'N')

In [11]:
C=tuple("AN")
print (C)

('A', 'N')

In [13]:
D=[1,2,3,4]
E=tuple(D)
print E

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(E)? (2971957289.py, line 3)

In [14]:
D=[1,2,3,4]
E=tuple(D)
print (E)

(1, 2, 3, 4)

In [15]:
H=(1,"HI",76)
print (H)

(1, 'HI', 76)

In [16]:
A=(1,2,3,'AN','APPLE','KING')
print(A[:2])

(1, 2)

In [17]:
A=(1,2,3,'AN','APPLE','KING')
print(A[:4])

(1, 2, 3, 'AN')

In [18]:
A=(1,2,3,'AN','APPLE','KING')
print(A[4])

APPLE

In [19]:
A=(1,2,3,'AN','APPLE','KING')
print(A[5])

KING

In [20]:
A=(1,2,3,'AN','APPLE','KING')
print(A[1])

2

In [21]:
A=(1,2,3,'AN','APPLE','KING')
print(A[0])

1

In [22]:
A=(1,2,3,'AN','APPLE','KING')
print(A[0:])

(1, 2, 3, 'AN', 'APPLE', 'KING')

In [23]:
A=(1,2,3,'AN','APPLE','KING')
print(A[2:])

(3, 'AN', 'APPLE', 'KING')

In [24]:
A=(1,2,3,'AN','APPLE','KING')
print(A[2:4])

(3, 'AN')

In [25]:
A=(1,2,3,4,'an','apple','king')
A = A + (5,)
print(A)

(1, 2, 3, 4, 'an', 'apple', 'king', 5)

TypeError: can only concatenate tuple (not "int") to tuple

In [27]:
A=(1,2,3,4,'an','apple','king')
A = A + ("QUEEN")
print(A)

TypeError: can only concatenate tuple (not "str") to tuple

In [28]:
A=(1,2,3,4,'an','apple','king')
A = A + ('QUEEN')
print(A)

TypeError: can only concatenate tuple (not "str") to tuple

In [29]:
A=(1,2,3,4,'an','apple','king')
A = A + (QUEEN)
print(A)

NameError: name 'QUEEN' is not defined

In [30]:
A=(1,2,3,4,'an','apple','king')
A = A + ('QUEEN',)
print(A)

(1, 2, 3, 4, 'an', 'apple', 'king', 'QUEEN')

In [31]:
A=(1,2,3,'an','apple','king')
B=(4,5,6,'queen')
C=A+B
print(C)

(1, 2, 3, 'an', 'apple', 'king', 4, 5, 6, 'queen')

In [32]:
A=(1,2,3,4,'an','apple','king')
A[2]=5
print(A)

TypeError: 'tuple' object does not support item assignment

In [33]:
A=(1,2,3,4,'an','apple','king')
for I in A:
    print (I)

1
2
3
4
an
apple
king

In [35]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[4:-4])

(50, 60, 70, 80)

In [36]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[4:-2])

(50, 60, 70, 80, 90, 100)

In [37]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[1:6])

(20, 30, 40, 50, 60)

In [38]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[0:4])

(10, 20, 30, 40)

In [39]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[::-1])

(120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10)

In [40]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[::-2])

(120, 100, 80, 60, 40, 20)

In [41]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[::-3])

(120, 90, 60, 30)

In [42]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[::-4])

(120, 80, 40)

In [43]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[2:10:2])

(30, 50, 70, 90)

In [44]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[2:10:1])

(30, 40, 50, 60, 70, 80, 90, 100)

In [45]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[2:10:3])

(30, 60, 90)

In [46]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[10:3])

()

In [49]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[10:1])

()

In [50]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[10:1])

()

In [51]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(A[-10:2])

()

In [55]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print len(A)

SyntaxError: invalid syntax (4199662815.py, line 2)

In [54]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(len(A))

12

In [56]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(max(A))

120

In [57]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print(min(A))

10

In [58]:
A=(10,20,30,40,50,60,70,80,90,100,110,120)
print((A))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120)

In [60]:
A=(10,20,30,40,10,10,50,60,70,80,90,100,110,120)
print(A.count(10))

3

In [61]:
A=(10,20,30)
B,C,D=A
C=40
A=(B,C,D)
print(A)

(10, 40, 30)

In [62]:
A=("APPLE","ORANGE","GRAPES")
B=list(A)
B[2]="BANANA"
A=tuple(B)
print (A)

('APPLE', 'ORANGE', 'BANANA')

In [64]:
A=(1,2,3,'AB','HI','TH')
print(A)

(1, 2, 3, 'AB', 'HI', 'TH')