In [1]:
A=(1,2,3,'AB','HI','TH')
print(A)

(1, 2, 3, 'AB', 'HI', 'TH')

In [2]:
A=(1,2,3)
print(A)

(1, 2, 3)

In [3]:
A=('AB','HI','TH')
print(A)

('AB', 'HI', 'TH')

In [4]:
A=(1,2,3)
print(A[1])

2

In [5]:
A=(1,2,3)
print(A[0])

1

In [10]:
A=('AB','HI','JI','TH')
B,C,D,E=A
D='ZE'
A=(B,C,D,E)
print(A)

('AB', 'HI', 'ZE', 'TH')

In [11]:
A=('AB','HI','JI','TH')
A=A+"ZE"
print (A)

TypeError: can only concatenate tuple (not "str") to tuple

In [16]:
A=('AB','HI','JI','TH')
A= A + ('ZE',)
print (A)

('AB', 'HI', 'JI', 'TH', 'ZE')

In [18]:
A=('AB','HI','JI','TH',1,2,30)
B=str(A)
print(B)

('AB', 'HI', 'JI', 'TH', 1, 2, 30)

In [19]:
A=('AB','HI','JI','TH',1,2,30)
B=list(A)
print(B)

['AB', 'HI', 'JI', 'TH', 1, 2, 30]

In [21]:
A=('AB','HI','JI','TH',1,2,30)
print (len(A))

7

In [22]:
A=('AB','HI','JI','TH',1,2,30)
print (A[::-1])

(30, 2, 1, 'TH', 'JI', 'HI', 'AB')

In [26]:
A=[1,2,3,'AB','HI','JI','TH']
B=tuple(A)
print (B)

(1, 2, 3, 'AB', 'HI', 'JI', 'TH')